@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins&display=swap');
* {
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Poppins', sans-serif;
}
a /* &c... */ {
  all: unset;
}
body{
  margin: none;
}
.serverIcons{
  border-radius: 50%;
  /* width: 100%; */
  transition: 150ms ease;
  text-decoration: none;
  /* margin-top: 10px; */
}
.serverIcons:hover{
  border-radius: 35%;
  /* width: 100%; */
  transition: 250ms ease;
  text-decoration: none; 
}


.currentServerIcon{
  /* align-items: center; */
  border-radius: 35%;
  /* width: 100%; */
  flex-grow:1;
  position: relative;
  transition: 250ms ease;
  text-decoration: none; 
  align-self: center;
}
.sidebarIconsCon{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  color: white;
  /* overflow: visible; */
  /* text-overflow: clip; */
}
.sideBarCon{
  /* position: absolute; */
  width: 100%;
  height: 100%;
  display: flex;
  
  top: 0;
  /* flex-direction: column; */
  /* align-items: center; */
}
.serverbarCon{
  position: relative;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
}

.currServerBar{
  position: absolute;
  /* float:left; */
  margin: 0px;
  left: 0;
  justify-self: left;
  align-self: center;
  border-radius: 30px;
  background-color: white;
  width: 3%;        
  height: 50%;
  transition: 300ms;
  animation: CURRENTBAR 100ms ease;
}
.hoverServerBar{
  position: absolute;
  left: 0;
  border-radius: 30px;
  background-color: white;
  width: 3%;
  height: 25%;
  animation: HOVERBAR 100ms ease;
}
.otherChannels:hover{
  /* background-color: #353241; */
  background: rgba(53, 50, 65, 0.5);
}

.channelsBg{
  display: flex;
  align-items: center;
  /* background-color: #353241; */
  background: rgba(53, 50, 65);
}
@keyframes HOVERBAR {
  0%   { width: 0%; height: 0%;}
  100% {  width: 3%; height:  25%;}
}
@keyframes CURRENTBAR {
  0%   { height: 25%;}
  100% {  height: 50%;}
}

.none{
  display: none;
  height: 0px;
  transition: 300ms;
}

.addServerBtn{
  color: #66bb6a;
  border-radius: 50%;
  transition: 150ms ease;
}
.addServerBtn:hover{
  color: white;
  background-color: rgba(102, 187, 106, 0.5);
  border-radius: 50%;
  transition: 150ms ease;
}

.serverForm{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  z-index: 1000;
}

.innerForm{
  border-radius: 2%;
  display: flex;
  text-align: center;
  position:fixed; 
  background-color: #353241; 
  height: 450px;
  justify-content: center;
  align-items: center;
  width: 400px;
  position: fixed;
  top: 0; 
left: 0;
transform: translate(calc(50vw - 50%), calc(50vh - 50%));
z-index: 1000;
}
.dontShow{
  display: none;
}
.forminput{
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #1F1C2C;
}

#servernamelabel{
  font-size: '14px';
  margin-right: 65%;
  color:  #dadce1;
}

#servernameinput{
  color: white;
  text-align: left;
}

.uploadBox{
  height: 167px;
  border: 3px dashed white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 40px;
  z-index: 3;
}

#serverFormIcon{
  transform: scale(2);
  /* margin-bottom: 40px; */
}

#createServerBtn{
  position: absolute;
  top: 85%;
  left: 70%;
  border: none;
  width: 100px;
  height: 40px;
  background-color: #7F00FF;
  color: white;
  font-size: 15px;
  border-radius: 50px;
}

#servericonpreview{
  width: 120px;
  border-radius: 55%;
  /* margin-bottom: 40px; */
  height: 120px;
}
.blackScreen{
  position:fixed;
  z-index: 10;
  left:0; 
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}
.hide{
  display: none;
}
#serverformheader{
  position: absolute;
  top: 5%;
  font-size: 25px;
}
.forminputCon{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#changeicon{
position: absolute; 
height: 30px;
width: 30px;
top: 20%;
background-color: #7F00FF;
border-radius: 50%;
}

.previewIconCon{
  position: relative;
  height: 40%;
  display: flex;
  align-items: center;
}

.serverview{
  position: relative;
  width: 100%;
}
.channelspanel{
background-color: white;
}
.channelsmsgs{
  position: absolute;
  width: calc(100% - 300px);
  height: calc(100% - 50px);
  left: 300px;
  /* height: 300px; */
  /* margin-bottom: 100px; */
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.serversHomeLists{
  position: relative;
  float: left;
}
.serversSideBar{
  position: relative;
  float: left;
}
.channelsmsgs::-webkit-scrollbar{
display: none;
}
.channellist{
  display: flex;
  align-items: center;
  height: 20px;
  width: 170px;
  bottom: 0;
  cursor: pointer;
  text-overflow: ellipsis;
  justify-content: flex-start;
}

.channelcon{
  text-overflow: elipsis; 
  display: flex;
  vertical-align: 15px; 
  align-self: flex-start; 
  width: 170px; 
  margin-top: 3%; 
  bottom: 30px;
  right: 10px; 
  background-color: #353241;
  border-radius: 2px;
  height: 40px;
  align-items: center;
}
.channelhashtag{
margin: 2%;
}

.channelheadercon{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  
}
.channelslistAll{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: red;
}

#createChannelsIcon{
  margin: 2%;
}

.serverNameCon{
  position: relative;
  width: 100%;
  border-bottom: 2px solid #353241;
  text-overflow: ellipsis;
  z-index: 0;
}

/* .channelViewCon{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
} */

.chatboxcon{
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.chatboxcon::-webkit-scrollbar{
display: none;
}
/* 
.messageFieldCon{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
} */


.messageCon{
  position: fixed;
  display: flex;
  bottom: 0;
  width: calc(100% - 300px);
  /* margin-left: 50%; */
  height: 70px;
  /* align-items: center; */
  justify-content: center;
  /* background-color: #1F1C2C; */
  background-color: #1F1C2C;
  
}
#messageInput{
  position: relative;
  width: 98%;
  border: none;
  height: 50px;
  max-height: fit-content;
  /* bottom: 10px; */
  background-color: #353241;
  color: white;
  border-radius: 10px;
  text-align: left;
}
#txtchannelName{
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  height: 100%;
  text-align: left;
  justify-self: baseline;
}
.servername-sidebarCon{
  position: relative;
  display: flex;
  align-items: center;
}
.servername-sidebar{
  position: fixed;
  /* width: 30%; */
  
  padding: 5px;
  /* margin-bottom: 15px; */
  background-color: #2a2834;
  border-radius: 5px;
  align-self: center;
  z-index: 999;
  height: fit-content;
  max-width: 150px;
  justify-self: center;
  left: 115px;
  display: flex;
  text-align: left;
  align-items: center;
  }
  .arrow-left {
    position: fixed;
    left: 105px;

    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right:10px solid #2a2834; 
  }
.userInfoCon{
  bottom: 0;
  position: fixed;
  width: 200px;
  display: flex;
  flex-direction: row;
  background-color: #353241;
  align-items:center;
  height: 5%;
}
.channelcon{
  display: flex;
  align-items: center;
}
#userInfoPfp{
float: left;
border-radius: 15px;
margin-right: 5px;
}
.userMsgCon{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#usertag{
  position: relative;
  /* margin-top: 25%; */
  /* top: 15%; */
  margin: 0px;
  text-align: left;
  font-size: small;
}
#userInfoUsername{
  position: relative;
  /* bottom: 15%; */
  /* left: 35px; */
  margin: 0px;
  /* margin-bottom: 25%; */
  /* margin-top: 15%; */  
  text-align: left;
}
.userInfoSubCon{
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  text-align: left;
  margin-left: 5px;
  height: 35px;
}
.notifiIcon{
position: absolute;
display: flex;
width: 15%;
justify-content: center;
text-align: center;
background-color: red;
height: 75%;
align-items: center;
border-radius: 6px;
right: 0;
}


.allmessages{
  position: relative;
  height: fit-content;
  /* margin-bottom: 50px; */
  width: 100%;
  
  /* margin-bottom: 6%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding-block-end: 15%; */
}
.userMsgInfoCon{
  position: relative;
  width: 20em;
  display: flex;
  justify-content: flex-start;
  /* align-items: baseline; */
}

.userMsgUsername{
  width: -moz-fit-content;
  width: fit-content;
  height: fit-content;
  margin: 0;
  float: left;
}
.userMsgTime{
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  align-self: flex-end;
  color: #7c7a87;
  padding-left: 5px;
}
.UserNameUserTime{
  position: relative;
  display: flex;
  flex-direction: row;
}
.allmsgsCon{
  position: relative;
  margin-bottom: 80px;
  height: 5px;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  justify-content: flex-start;
text-align: left;
  /* margin-left: -200px; */
  width: auto;
  display: block;
  padding: 0px;
}
.messagecontent{
  position: relative  ;
  height: fit-content;
  /* top: 5%; */
  width: 100%;
  /* display:inline; */
  flex-wrap: wrap;
  text-align: left;
  /* margin-bottom: 20px; */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;  
  /* padding-bottom: 5em; */
  padding-top: 0px;
  float: left;
  margin-top: 0px;
  margin: 0;
}

@media (max-height:900px){
  .allmessages{
    position: relative;
    height: 40%;
    /* margin-bottom: 50px; */
    width: 100%;
    
    /* margin-bottom: 6%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-size-adjust: 80%;

    /* padding-block-end: 15%; */
  }
  .allmsgsCon{
    position: relative;
    /* margin-bottom: 80px; */
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-left: 5px;
    width: auto;
    display: block;
    padding: 0px;
    text-size-adjust: 80%;

  }
  
  .messagecontent{
    position: relative  ;
    height: fit-content;
    /* top: 5%; */
    width: 100%;
    /* display:inline; */
    flex-wrap: wrap;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;  
    padding-top: 0px;
    text-overflow: ellipsis;
    display: flex;
    margin-top: 0px;
    text-size-adjust: 80%;
    justify-self: flex-start;
  }

  .userMention{
    background-color: yellow;
    padding: 0px;
    text-size-adjust: 80%;
    width: 100%;
    display: flex;
    padding-bottom: 0px;
    text-overflow: ellipsis;
  }

  #messageInput{
    position: relative;
    width: 98%;
    border: none;
    height: 50px;
    max-height: fit-content;
    /* bottom: 10px; */
    background-color: #353241;
    color: white;
    border-radius: 10px;
    text-align: left;
  }
}


.testblue{
  color: blue;
}

.mention{
  color: blue;
}
.grandfather{
  position: relative;
}

/* .serverSideBar{
  position: relative;
  display: flex;
  background-color: #353241;
  width: 100px;
  flex-shrink: 0;
  box-sizing: border-box;
  float: left;
  left: 0;
  flex: 1;
  height: 100%;
  top: 0;
  justify-content: center;
} */
.panelsCon{
  position: fixed;
  height: 100%;
  top: 0;
  box-sizing: border-box;
}

.sidecom{
position: fixed;
width: 100%;
height: 100%;
top: 0;
}

.messageconParent{
  position: relative;
}
.channelsPanelRel{
  position: fixed;
  justify-content: flex-start;
  flex-direction: column; 
  background-color: #423f51; 
  width: 200px;
  height: 100%; 
  color: white;
  float: left;
  /* top: 0; */
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  flex: 2;
  /* z-index: -1; */
}
.serverCon{
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;

}
.channelsName{
  position: relative;
  text-overflow: ellipsis;
  display: flex;
}

.channelsPanelRel::-webkit-scrollbar{
  display: none;
}
.channelsCon{
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.sidebar{
  position: fixed;
  /* position: relative; */
  display: flex;
  height: 100%;
  background-color: #353241;
  flex-shrink: 0;
  width: 100px;
  box-sizing: border-box;
  flex-direction: column;
  /* position: fixed; */
  float: left;
  /* left: 0; */
  top: 0;
  /* justify-content: center; */
  /* z-index: 1000; */
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sidebarRel{
  position: relative;
  height: 100%;
  width: 100px; 
  z-index: 3;
}
.sidebar::-webkit-scrollbar{
display: none;
}
.serversCon{
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 100%;
}
/* .homeCon{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #1F1C2C;
} */

.homeContent{
  position: relative;
  justify-content: flex-start;
}