@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins&display=swap');

* {
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
}
a /* &c... */ {
  all: unset;
}

body{
    margin: none;

    overflow-x: hidden;
}
.serverIcons{
  border-radius: 50%;
  /* width: 100%; */
  transition: 150ms ease;
  text-decoration: none;

  /* margin-top: 10px; */
}
.serverIcons:hover{
  border-radius: 35%;
  /* width: 100%; */
  transition: 250ms ease;
  text-decoration: none; 
}

.landingpageBtn{
  position: relative;
  border: none;
  width: 60%;
  height: 50px;
  background: none;
  color: white;
  font-size: 15px;
  border-radius: 50px;
  margin-bottom: 10px;
  border: 2px solid #7F00FF;
  transition: 200ms ease;
}
.landingpageBtn:hover{
  background-color: #7F00FF;
  transition: 200ms ease;
}
.innerWelcomePage{
  border-radius: 2%;
  display: flex;
  /* text-align: center; */
  position:fixed; 
  background-color: #353241; 
  height: 450px;
  justify-content: center;
  align-items: center;
  width: 400px;
  position: fixed;
  top: 0; 
  left: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  z-index: 1000;
  flex-direction: column;
  }
.currentServerIcon{
  /* align-items: center; */
  border-radius: 35%;
  /* width: 100%; */
  flex-grow:1;
  position: relative;
  transition: 250ms ease;
  text-decoration: none; 
  align-self: center;
/* 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
}
.sidebarIconsCon{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  color: white;
  /* overflow: visible; */
  /* text-overflow: clip; */
}
.sideBarCon{
  /* position: absolute; */
  width: 100%;
  height: 100%;
  display: flex;
  
  top: 0;
  /* flex-direction: column; */
  /* align-items: center; */
}
.serverbarCon{
  position: relative;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
}

.currServerBar{
  position: absolute;
  /* float:left; */
  margin: 0px;
  left: 0;
  justify-self: left;
  align-self: center;
  border-radius: 30px;
  background-color: white;
  width: 3%;        
  height: 50%;
  transition: 300ms;
  animation: CURRENTBAR 100ms ease;
}
.hoverServerBar{
  position: absolute;
  left: 0;
  border-radius: 30px;
  background-color: white;
  width: 3%;
  height: 25%;
  animation: HOVERBAR 100ms ease;
}
.otherChannels:hover{
  /* background-color: #353241; */
  background: rgba(53, 50, 65, 0.5);
}

.channelsBg{
  display: flex;
  align-items: center;
  /* background-color: #353241; */
  background: rgba(53, 50, 65);
}
@keyframes HOVERBAR {
  0%   { width: 0%; height: 0%;}
  100% {  width: 3%; height:  25%;}
}
@keyframes CURRENTBAR {
  0%   { height: 25%;}
  100% {  height: 50%;}
}

.none{
  display: none;
  height: 0px;
  transition: 300ms;
}

.addServerBtn{
  color: #66bb6a;
  border-radius: 50%;
  transition: 150ms ease;
}
.addServerBtn:hover{
  color: white;
  background-color: rgba(102, 187, 106, 0.5);
  border-radius: 50%;
  transition: 150ms ease;
}

.serverForm{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.innerForm{
  border-radius: 2%;
  display: flex;
  text-align: center;
  position:fixed; 
  background-color: #353241; 
  height: 450px;
  justify-content: center;
  align-items: center;
  width: 400px;
  position: fixed;
  top: 0; 
  left: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  z-index: 1000;
}
.innerLoginForm{
  border-radius: 2%;
  display: flex;
  /* text-align: center; */
  position:fixed; 
  background-color: #353241; 
  height: 450px;
  justify-content: center;
  align-items: center;
  width: 400px;
  position: fixed;
  top: 0; 
  left: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  z-index: 1000;
}
.loginForm{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1F1C2C;
}
.LogOutFormCon{
  border-radius: 2%;
  display: flex;
  text-align: center;
  position:fixed; 
  background-color: #353241; 
  height: 150px;
  justify-content: center;
  align-items: center;
  width: 450px;
  position: fixed;
  top: 0; 
  left: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  z-index: 1000;
}
.dontShow{
  display: none;
}
.forminput{
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #1F1C2C;
}

#servernamelabel{
  font-size: '14px';
  margin-right: 65%;
  color:  #dadce1;
}

#servernameinput{
  color: white;
  text-align: left;
}

.uploadBox{
  height: 167px;
  border: 3px dashed white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 40px;
  z-index: 3;
}

#serverFormIcon{
  transform: scale(2);
  /* margin-bottom: 40px; */
}

#createServerBtn{
  position: absolute;
  top: 85%;
  left: 70%;
  border: none;
  width: 100px;
  height: 40px;
  background-color: #7F00FF;
  color: white;
  font-size: 15px;
  border-radius: 50px;
}

#createBtn{
  position: absolute;
  top: 85%;
  left: 70%;
  border: none;
  width: 100px;
  height: 40px;
  background-color: #7F00FF;
  color: white;
  font-size: 15px;
  border-radius: 50px;
}
#disableBtn{
  position: absolute;
  top: 85%;
  left: 70%;
  border: none;
  width: 100px;
  height: 40px;
  opacity: 30%;
  background-color: #7F00FF;
  color: white;
  font-size: 15px;
  border-radius: 50px;
}
#servericonpreview{
  width: 120px;
  border-radius: 55%;
  /* margin-bottom: 40px; */
  height: 120px;
}
.blackScreen{
  position:fixed;
  z-index: 10;
  left:0; 
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}
.hide{
  display: none;
}
#userpfp-formHeader{
  position: absolute;
  font-size: 25px;
}
.forminputCon{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#accform-header{
  position: absolute;
  top: 5%;
  /* font-size: 25px; */
}
#icon-changepfp{
  position: absolute;
  z-index: 2;
}
#pfpiconpreview{
  width: 200px;
  border-radius: 55%;
  /* margin-bottom: 40px; */
  height: 200px;
}
.icon-changepfpCon{
  position: absolute;
  display: flex;
  align-items: center;
  align-self: center;
  justify-self: center;
  justify-content: center;
  background: rgba(255,255,255, 0);
  width: 45px;
  height: 45px;
  border-radius: 60px;
  z-index: 1;
  transition: 150ms ease;
}
.icon-changepfpCon:hover{
  background: rgba(255,255,255, 0.2);
 transition: 150ms ease;
}
#pfpiconpreview-black{
  position: absolute;
  width: 200px;
  border-radius: 55%;
  /* margin-bottom: 40px; */
  height: 200px;
  background: rgba(0,0,0, 0.3);
}
.changepfpCon{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#changeicon{
position: absolute; 
height: 30px;
width: 30px;
top: 20%;
background-color: #7F00FF;
border-radius: 50%; 
}
#serverformheader{
  position: absolute;
  top: 5%;
  font-size: 25px;
}
.previewIconCon{
  position: relative;
  height: 40%;
  display: flex;
  align-items: center;
}

.serverview{
  position: relative;
  width: 100%;
}
.channelspanel{
background-color: white;
}
.channelsmsgs{
  position: absolute;
  width: calc(100% - 300px);
  height: calc(100% - 70px);
  left: 300px;
  /* height: 300px; */
  /* margin-bottom: 100px; */
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0px;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
}
.serversHomeLists{
  position: relative;
  float: left;
}
.serversSideBar{
  position: relative;
  float: left;
}
.channelsmsgs::-webkit-scrollbar{
display: none;
}
.channellist{
  display: flex;
  align-items: center;
  height: 20px;
  width: 170px;
  bottom: 0;
  cursor: pointer;
  text-overflow: ellipsis;
  justify-content: flex-start;
}

.channelcon{
  text-overflow: elipsis; 
  display: flex;
  vertical-align: 15px; 
  align-self: flex-start; 
  width: 170px; 
  margin-top: 3%; 
  bottom: 30px;
  right: 10px; 
  background-color: #353241;
  border-radius: 2px;
  height: 40px;
  align-items: center;
}
.channelhashtag{
margin: 2%;
}

.channelheadercon{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  
}
.channelslistAll{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: red;
}

#createChannelsIcon{
  margin: 2%;
}

.serverNameCon{
  position: relative;
  width: 100%;
  border-bottom: 2px solid #353241;
  text-overflow: ellipsis;
  z-index: 0;
}

/* .channelViewCon{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
} */



/* 
.messageFieldCon{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
} */


.messageCon{
  position: fixed;
  display: flex;
  bottom: 0;
  width: calc(100% - 300px);
  /* margin-left: 50%; */
  height: 70px;
  /* align-items: center; */
  justify-content: center;
  /* background-color: #1F1C2C; */
  background-color: #1F1C2C;
  
}
#messageInput{
  position: relative;
  width: 98%;
  border: none;
  height: 50px;
  max-height: fit-content;
  /* bottom: 10px; */
  background-color: #353241;
  color: white;
  border-radius: 10px;
  text-align: left;
}
#txtchannelName{
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  height: 100%;
  text-align: left;
  justify-self: baseline;
}
.servername-sidebarCon{
  position: relative;
  display: flex;
  align-items: center;
}
.hide-arrow{
  position: fixed;
  left: 110px;
  transform: scale(.7);

  opacity: 0;
  transition: 150ms ease;

  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid #2a2834; 
}
.icons-sidebarCon{
  display: flex;
  align-items: center;
  justify-content: center;
}

#username:-webkit-autofill {
  background-color: white !important;
}

.addicons-sidebar{
  position: relative;
  background-color: #1F1C2C;
  height: fit-content;
  color: #66bb6a;
  border-radius: 50%;
  margin-top: 10px;
  transition: 150ms ease;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: fit-content;
  align-items: center;
  
}
.addicons-sidebar:hover{
  /* width: 100%; */
  border-radius: 40%;
  transition: 150ms ease;
  color: white;
  text-decoration: none; 
  background-color: rgba(102, 187, 106, 0.5);
}
.texticons-sidebar{
  position: relative;
  background-color: #1F1C2C;
  height: fit-content;
  border-radius: 50%;
  margin: 10px;
  transition: 150ms ease;
  text-decoration: none;
}

.texticons-sidebar:hover{
  border-radius: 35%;
  /* width: 100%; */
  transition: 150ms ease;
  text-decoration: none; 
}
.hide-servername{
  position: fixed;
  /* width: 30%; */
  visibility: hidden;
  opacity: 0;
  transform: scale(.8);
  transition: 150ms ease;
  padding: 5px;
  /* margin-bottom: 15px; */
  background-color: #2a2834;
  border-radius: 5px;
  align-self: center;
  z-index: 999;
  height: fit-content;
  max-width: 150px;
  justify-self: center;
  left: 115px;
  text-align: left;
  align-items: center;
}
#logout-btn{
  position: absolute;
  right: 0;
  margin-right: 5px;
  transition: 250ms ease;
}
#logout-btn:hover{
  color: rgba(255, 0, 0, 0.7);

transition: 250ms ease;
}
#logout-btn:focus{
  color: rgba(255, 0, 0, 1);

transition: 250ms ease;
}

#logout-btn-final{
height: 50px;
width: 150px;
font-size: 20px;
border-radius: 5px;
background-color: #7F00FF;
color: white;
border: none;
margin: 5px;
transition: 200ms ease;
}
#logout-btn-final:hover{
transition: 200ms ease;
background: rgba(255, 0, 0, 0.3);
color: red;
border: none;
margin: 5px;
}
#cancellogout-btn{
  height: 50px;
  width: 150px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  background: none;
  color: #7F00FF;
  transition: 200ms ease;
  background-color: white;
}
#cancellogout-btn:hover{
  transition: 200ms ease;
  color: red;
  background: rgba(255, 0, 0, 0.3);
}
.LogOutForm{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  z-index: 1000;
}
.servername-sidebar{
  position: fixed;
  /* width: 30%; */
  transition: 150ms ease;
  padding: 5px;
  /* margin-bottom: 15px; */
  background-color: #2a2834;
  border-radius: 5px;
  align-self: center;
  z-index: 999;
  height: fit-content;
  max-width: 150px;
  justify-self: center;
  left: 110px;
;
  visibility: visible;
  display: flex;
  text-align: left;
  align-items: center;
  }
  .arrow-left {
    position: fixed;
    left: 105px;
    transition: 150ms ease;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #2a2834; 
  }
.userInfoCon{
  bottom: 0;
  position: fixed;
  width: 200px;
  display: flex;
  flex-direction: row;
  background-color: #353241;
  align-items:center;
  height: 5%;
}
.channelcon{
  display: flex;
  align-items: center;
}
#userInfoPfp{

-webkit-user-drag: none;
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
justify-self:start;

border-radius: 50px;
margin-right: 5px;
float: left;
}
.userMsgCon{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}
.msgHighlight{
  background-image: linear-gradient(left, transparent 300px,rgba(39,39,39,.5) 300px, rgba(39,39,39,.5) 100%);
  width: 100%;
  height: 500px;
  /* float: left; */
}
#usertag{
  position: relative;
  /* margin-top: 25%; */
  /* top: 15%; */
  margin: 0px;
  text-align: left;
  font-size: small;
}
#userInfoUsername{
  position: relative;
  /* bottom: 15%; */
  /* left: 35px; */
  margin: 0px;
  /* margin-bottom: 25%; */
  /* margin-top: 15%; */  
  text-align: left;
}
.userInfoSubCon{
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  text-align: left;
  margin-left: 5px;
  height: 35px;
}
.notifiIcon{
position: absolute;
display: flex;
width: 15%;
justify-content: center;
text-align: center;
background-color: red;
height: 75%;
align-items: center;
border-radius: 6px;
right: 0;
}


.allmessages{
  position: relative;
  width: max-content;
  height: min-content;
  display: flex;
  word-wrap: break-word;
  word-break: break-all;
}
/* .allmessages::before{
 content: '';
 background: rgba(255, 217, 61,0.3);
 position: absolute;
 left: 2%;
 width: calc(100% - 300px);
 height: 100%;
 margin-bottom: 20px;
} */



.userMsgInfoCon{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  padding-left: 0px;
  margin-bottom: 5px;
  /* align-items: baseline; */
}
.acclinks-forminput{
  color: #7F00FF;
  cursor: pointer;
}
.acclinks-forminput:hover{
  text-decoration: underline;
}
#userpfp-formHeader{
  position: absolute;
  top: 5%;
  font-size: 25px;
}
.acc-forminput{
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background: none;
  /* border-radius: 3px; */
  background: rgba(31, 28, 44,0.1);
  
  border-bottom: #1F1C2C 3px solid;
}
.acc-forminputCon{
  width: 100%;
  position: relative;
  margin: 0px;
}
.acc-forminputCon #password:focus + .password-inputborder{
  background-color: #7F00FF;
  opacity: 100;
  width: 100%;
  transition: 150ms ease;
 }
.acc-forminputCon #username:focus + .username-inputborder{
  background-color: #7F00FF;
  opacity: 100;
  width: 100%;
  transition: 150ms ease;
 }
 .acc-forminputCon:not(#password){
 display: flex;
 justify-content: center;
 }
 
 .acc-forminput:focus::placeholder{
  color: #7F00FF;
  position: absolute;
  top: 0;
 }
 .acc-forminput:focus{
   /* border-bottom: #7F00FF 3px solid; */
   background: rgba(31, 28, 44,0.3);
   transition:  150ms ease-in-out;
 }
 .acc-forminput::placeholder{
  position: absolute;
  top: 0;
  margin: 2px;
 }
.username-inputborder{
  position: absolute;
  opacity: 0;
  background-color: #7F00FF;
  width: 0%;
  height: 2px;
  margin: 0px;
  bottom: 0;
  padding: 0px;
  transition: 150ms ease;
}

.password-inputborder{
  position: absolute;
  opacity: 0;
  background-color: #7F00FF;
  width: 0%;
  height: 2px;
  margin: 0px;
  bottom: 0;
  padding: 0px;
  transition: 150ms ease;
}

#username:focus + .username-inputborder {
  background-color: #7F00FF;
  opacity: 100;
  width: 100%;
  transition: 150ms ease;
}


#username{
  color: white;
  text-align: left;
  /* margin-bottom: 10px; */
  padding: 0px;
  height: 35px;
  width: 300px;
}
#password{
  color: white;
  text-align: left;
  height: 35px;
  width: 300px;
  padding: 0px;
}
.userMsgUsername{
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: fit-content;
  margin: 0;
  
  float: left;
}
.userMsgTime{
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  align-self: flex-end;
  color: #7c7a87;
  padding-left: 5px;
}
.UserNameUserTime{
  position: relative;
  display: flex;
  flex-direction: row;
}
.allmsgsCon{
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* margin-left: 2%; */
  justify-content: flex-start;
text-align: left;
  /* margin-left: -200px; */
  left: 2%;
  display: block;
  padding: 0px;
width: 100%;
}

.messagecontent{
  position: relative;
  /* top: 5%; */
  width: 80%;
  /* display:inline; */
  /* flex-wrap: wrap; */
  text-align: left;
  /* padding-bottom: 5em; */
  padding-top: 0px;

  margin: 0;
  /* margin-top: 0px; */
}

@media (max-width: 667px){
  body {
    overflow-x: hidden !important;
}
  .allmessages{
    position: relative;
    height: 40%;
    /* margin-bottom: 50px; */
    width: 100%;
    
    /* margin-bottom: 6%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-size-adjust: 80%;

    /* padding-block-end: 15%; */
  }
  .allmsgsCon{
    position: relative;
    box-sizing: border-box;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* margin-left: 2%; */
    justify-content: flex-start;
  text-align: left;
    /* margin-left: -200px; */
    width: 500px;
    left: 2%;
    display: block;
    padding: 0px;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
  }
  
  .messagecontent{
    position: relative ;
    height: fit-content;
    /* top: 5%; */
    width: 100%;
    /* display:inline; */
    margin: 0;
    word-break: break-word;
    text-align: left;
    padding-top: 0px;
    display: flex;
    text-size-adjust: 80%;
    top: 0;
  }

  .userMention{
    background-color: yellow;
    padding: 0px;
    text-size-adjust: 80%;
    width: 100%;
    display: flex;
    padding-bottom: 0px;
    text-overflow: ellipsis;
  }

  #messageInput{
    position: relative;
    width: 98%;
    border: none;
    height: 50px;
    max-height: fit-content;
    /* bottom: 10px; */
    background-color: #353241;
    color: white;
    border-radius: 10px;
    text-align: left;
  }
}


.testblue{
  color: blue;
}

.mention{
  color: blue;
}
.grandfather{
  position: relative;
}

/* .serverSideBar{
  position: relative;
  display: flex;
  background-color: #353241;
  width: 100px;
  flex-shrink: 0;
  box-sizing: border-box;
  float: left;
  left: 0;
  flex: 1;
  height: 100%;
  top: 0;
  justify-content: center;
} */
.panelsCon{
  position: fixed;
  height: 100%;
  top: 0;
  box-sizing: border-box;
}

.sidecom{
position: fixed;
width: 100%;
height: 100%;
top: 0;
}


.channelsPanelRel{
  position: fixed;
  justify-content: flex-start;
  flex-direction: column; 
  background-color: #423f51; 
  width: 200px;
  height: 100%; 
  color: white;
  float: left;
  /* top: 0; */
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  flex: 2;
  /* z-index: -1; */
}
.serverCon{
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;

}
.channelsName{
  position: relative;
  text-overflow: ellipsis;
  display: flex;
}

.channelsPanelRel::-webkit-scrollbar{
  display: none;
}
.channelsCon{
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.sidebar{
  position: fixed;
  /* position: relative; */
  display: flex;
  height: 100%;
  background-color: #353241;
  flex-shrink: 0;
  width: 100px;
  box-sizing: border-box;
  flex-direction: column;
  /* position: fixed; */
  float: left;
  /* left: 0; */
  top: 0;
  /* justify-content: center; */
  /* z-index: 1000; */
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sidebarRel{
  position: relative;
  height: 100%;
  width: 100px; 
  z-index: 3;
}
.sidebar::-webkit-scrollbar{
display: none;
}
.serversCon{
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 100%;
}
/* .homeCon{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #1F1C2C;
} */

.homeContent{
  position: relative;
  justify-content: flex-start;
}