.App {
  text-align: center;
}

.serverIcons{
  border-radius: 50%;
  /* width: 100%; */
  transition: 150ms ease;
}
.serverIcons:hover{
  border-radius: 35%;
  /* width: 100%; */
  transition: 250ms ease
}

